In [1]:
import pandas as pd
import numpy as np
import warnings
import matplotlib.pyplot as plt
import seaborn as sns

plt.rcParams['font.family'] ='Malgun Gothic' 
plt.rcParams['axes.unicode_minus'] =False

warnings.filterwarnings('ignore')

# 1. 교통

In [2]:
df1 = pd.read_csv('교통/2025년_버스노선별_정류장별_시간대별_승하차_인원_정보(02월).csv',encoding='cp949')
df2 = pd.read_csv('교통/서울교통공사_지하철혼잡도정보_20241231 (1).csv',encoding='cp949')
df3 = pd.read_csv('교통/서울시 지하철 호선별 역별 시간대별 승하차 인원 정보.csv',encoding='cp949')
df4 = pd.read_csv('교통/ES1004AV00101YY2400_csv.csv',encoding='utf8')
d_subway = pd.read_csv('교통/서울시 행정동별 지하철 총 승차 승객수 정보.csv',encoding='cp949')
gu_s_info = pd.read_csv('교통/서울교통공사_자치구별지하철역정보_20250317.CSV',encoding='cp949')

In [3]:
d_subway

,기준_날짜,행정동_ID,지하철_승객_수,지하철_승객_수_00시,지하철_승객_수_01시,지하철_승객_수_02시,지하철_승객_수_03시,지하철_승객_수_04시,지하철_승객_수_05시,지하철_승객_수_06시,...,지하철_승객_수_14시,지하철_승객_수_15시,지하철_승객_수_16시,지하철_승객_수_17시,지하철_승객_수_18시,지하철_승객_수_19시,지하철_승객_수_20시,지하철_승객_수_21시,지하철_승객_수_22시,지하철_승객_수_23시
0,20250402,11250770,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20250402,11250760,17015.0,13.0,0.0,0.0,0.0,2.0,402.0,1495.0,...,531.0,638.0,630.0,738.0,846.0,388.0,316.0,156.0,133.0,70.0
2,20250402,11250740,9883.0,17.0,0.0,0.0,0.0,0.0,203.0,440.0,...,433.0,502.0,570.0,693.0,733.0,396.0,257.0,263.0,183.0,86.0
3,20250402,11250730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20250402,11250720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505805,20211130,1105057,10728.0,1.0,0.0,0.0,0.0,0.0,182.0,467.0,...,432.0,394.0,562.0,662.0,762.0,422.0,281.0,300.0,150.0,30.0
505806,20211130,1101061,95603.0,4.0,0.0,0.0,0.0,18.0,279.0,355.0,...,4781.0,6015.0,7236.0,12936.0,19579.0,8734.0,6512.0,7032.0,5214.0,1713.0
505807,20211130,1114066,101870.0,11.0,0.0,0.0,0.0,20.0,934.0,2075.0,...,3973.0,4469.0,5575.0,8175.0,13185.0,8303.0,6423.0,7907.0,7051.0,2576.0
505808,20211130,1114060,21633.0,0.0,0.0,0.0,0.0,2.0,184.0,517.0,...,975.0,1161.0,1450.0,2178.0,2229.0,1194.0,954.0,939.0,777.0,222.0
505809,20211130,1113066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
d_subway.columns

Index(['기준_날짜', '행정동_ID', '지하철_승객_수', '지하철_승객_수_00시', '지하철_승객_수_01시',
       '지하철_승객_수_02시', '지하철_승객_수_03시', '지하철_승객_수_04시', '지하철_승객_수_05시',
       '지하철_승객_수_06시', '지하철_승객_수_07시', '지하철_승객_수_08시', '지하철_승객_수_09시',
       '지하철_승객_수_10시', '지하철_승객_수_11시', '지하철_승객_수_12시', '지하철_승객_수_13시',
       '지하철_승객_수_14시', '지하철_승객_수_15시', '지하철_승객_수_16시', '지하철_승객_수_17시',
       '지하철_승객_수_18시', '지하철_승객_수_19시', '지하철_승객_수_20시', '지하철_승객_수_21시',
       '지하철_승객_수_22시', '지하철_승객_수_23시'],
      dtype='object')

In [5]:
subway1 = d_subway.copy()
subway1['01_05'] = d_subway['지하철_승객_수_05시']+d_subway['지하철_승객_수_01시']+d_subway['지하철_승객_수_02시']+d_subway['지하철_승객_수_03시']+d_subway['지하철_승객_수_04시']
subway1['06_10'] = d_subway['지하철_승객_수_10시']+d_subway['지하철_승객_수_06시']+d_subway['지하철_승객_수_07시']+d_subway['지하철_승객_수_08시']+d_subway['지하철_승객_수_09시']
subway1['11_15'] = d_subway['지하철_승객_수_15시']+d_subway['지하철_승객_수_11시']+d_subway['지하철_승객_수_12시']+d_subway['지하철_승객_수_13시']+d_subway['지하철_승객_수_14시']+d_subway['지하철_승객_수_15시']
subway1['16_20'] = d_subway['지하철_승객_수_16시']+d_subway['지하철_승객_수_17시']+d_subway['지하철_승객_수_18시']+d_subway['지하철_승객_수_19시']+d_subway['지하철_승객_수_20시']
subway1['21_24'] = d_subway['지하철_승객_수_21시']+d_subway['지하철_승객_수_22시']+d_subway['지하철_승객_수_23시'] + d_subway['지하철_승객_수_00시']
subway1

,기준_날짜,행정동_ID,지하철_승객_수,지하철_승객_수_00시,지하철_승객_수_01시,지하철_승객_수_02시,지하철_승객_수_03시,지하철_승객_수_04시,지하철_승객_수_05시,지하철_승객_수_06시,...,지하철_승객_수_19시,지하철_승객_수_20시,지하철_승객_수_21시,지하철_승객_수_22시,지하철_승객_수_23시,01_05,06_10,11_15,16_20,21_24
0,20250402,11250770,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20250402,11250760,17015.0,13.0,0.0,0.0,0.0,2.0,402.0,1495.0,...,388.0,316.0,156.0,133.0,70.0,404.0,10198.0,3761.0,2918.0,372.0
2,20250402,11250740,9883.0,17.0,0.0,0.0,0.0,0.0,203.0,440.0,...,396.0,257.0,263.0,183.0,86.0,203.0,4063.0,2921.0,2649.0,549.0
3,20250402,11250730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20250402,11250720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505805,20211130,1105057,10728.0,1.0,0.0,0.0,0.0,0.0,182.0,467.0,...,422.0,281.0,300.0,150.0,30.0,182.0,5305.0,2465.0,2689.0,481.0
505806,20211130,1101061,95603.0,4.0,0.0,0.0,0.0,18.0,279.0,355.0,...,8734.0,6512.0,7032.0,5214.0,1713.0,297.0,5386.0,26975.0,54997.0,13963.0
505807,20211130,1114066,101870.0,11.0,0.0,0.0,0.0,20.0,934.0,2075.0,...,8303.0,6423.0,7907.0,7051.0,2576.0,954.0,23729.0,22450.0,41661.0,17545.0
505808,20211130,1114060,21633.0,0.0,0.0,0.0,0.0,2.0,184.0,517.0,...,1194.0,954.0,939.0,777.0,222.0,186.0,6640.0,6025.0,8005.0,1938.0
505809,20211130,1113066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
subway2 = subway1[['기준_날짜','행정동_ID','지하철_승객_수','01_05','06_10','11_15','16_20','21_24']]
subway2

,기준_날짜,행정동_ID,지하철_승객_수,01_05,06_10,11_15,16_20,21_24
0,20250402,11250770,NaN,NaN,NaN,NaN,NaN,NaN
1,20250402,11250760,17015.0,404.0,10198.0,3761.0,2918.0,372.0
2,20250402,11250740,9883.0,203.0,4063.0,2921.0,2649.0,549.0
3,20250402,11250730,NaN,NaN,NaN,NaN,NaN,NaN
4,20250402,11250720,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
505805,20211130,1105057,10728.0,182.0,5305.0,2465.0,2689.0,481.0
505806,20211130,1101061,95603.0,297.0,5386.0,26975.0,54997.0,13963.0
505807,20211130,1114066,101870.0,954.0,23729.0,22450.0,41661.0,17545.0
505808,20211130,1114060,21633.0,186.0,6640.0,6025.0,8005.0,1938.0
505809,20211130,1113066,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
subway2['행정동_ID'].value_counts()

행정동_ID
1121082     947
1120065     947
1119073     947
1119069     947
1119065     947
           ...
11090710    244
11090700    244
11090690    244
11090650    244
11010530    244
Name: count, Length: 849, dtype: int64

# 법정동코드

In [8]:
dong = pd.read_excel('KIKmix.20250513.xlsx')
dong1 = dong.loc[dong['시도명']=='서울특별시']
dong2 = dong1[2:].reset_index(drop=True)
dong3 = dong2[['시군구명','동리명','법정동코드']]
dong3

    시군구명  동리명       법정동코드
0    종로구  청운동  1111010100
1    종로구  신교동  1111010200
2    종로구  궁정동  1111010300
3    종로구  효자동  1111010400
4    종로구  창성동  1111010500
..   ...  ...         ...
764  강동구  성내동  1174010800
765  강동구  성내동  1174010800
766  강동구   길동  1174010500
767  강동구  둔촌동  1174010600
768  강동구  둔촌동  1174010600

[769 rows x 3 columns]

In [9]:
d4 = dong3.drop_duplicates(subset='법정동코드')
d4

    시군구명  동리명       법정동코드
0    종로구  청운동  1111010100
1    종로구  신교동  1111010200
2    종로구  궁정동  1111010300
3    종로구  효자동  1111010400
4    종로구  창성동  1111010500
..   ...  ...         ...
757  강동구  암사동  1174010700
760  강동구  천호동  1174010900
763  강동구  성내동  1174010800
766  강동구   길동  1174010500
767  강동구  둔촌동  1174010600

[491 rows x 3 columns]

# 2. 범죄

## 1. 범죄발생

In [10]:
crime = pd.read_csv('범죄\경찰청_범죄 발생 지역별 통계_20231231.csv',encoding='CP949')
crime

,범죄대분류,범죄중분류,서울종로구,서울중구,서울용산구,서울성동구,서울광진구,서울동대문구,서울중랑구,서울성북구,...,외국러시아,외국튀르키예,외국중국,외국일본,외국필리핀,외국베트남,외국태국,외국말레이시아,외국인도네시아,외국기타국가
0,강력범죄,살인기수,2,0,1,1,0,2,4,1,...,0,0,0,0,1,0,0,0,0,0
1,강력범죄,살인미수등,1,3,2,1,2,3,2,0,...,1,0,1,0,0,0,0,0,0,1
2,강력범죄,강도,5,6,3,2,5,4,2,1,...,0,0,0,0,3,0,0,0,0,0
3,강력범죄,강간,25,30,45,22,42,36,40,25,...,0,0,3,1,3,1,1,1,0,3
4,강력범죄,유사강간,10,4,4,6,9,5,9,7,...,0,0,0,0,1,0,0,1,0,1
5,강력범죄,강제추행,204,182,195,92,188,107,118,105,...,1,0,2,4,4,3,4,1,0,10
6,강력범죄,기타 강간 강제추행등,0,0,0,0,0,1,0,2,...,0,0,0,0,0,0,0,0,0,0
7,강력범죄,방화,4,13,16,4,5,11,4,7,...,0,0,0,0,0,0,0,0,0,0
8,절도범죄,절도범죄,1173,1523,971,891,1619,1278,1400,982,...,0,0,0,1,4,2,1,0,1,3
9,폭력범죄,상해,127,127,107,79,111,101,121,74,...,0,0,1,2,3,3,2,2,1,5
10,폭력범죄,폭행,905,1001,1018,548,842,839,913,731,...,0,0,3,2,2,3,0,0,1,9
11,폭력범죄,체포감금,6,8,7,4,4,11,5,5,...,0,0,0,0,0,0,0,1,0,1
12,폭력범죄,협박,116,131,140,114,137,170,200,131,...,0,0,1,0,3,3,0,1,0,5
13,폭력범죄,약취 유인,2,4,0,3,1,4,4,0,...,0,0,1,1,0,0,0,0,0,0
14,폭력범죄,폭력행위등,32,40,35,12,44,29,36,30,...,0,0,0,1,1,0,0,0,0,1
15,폭력범죄,공갈,37,24,50,34,45,53,39,43,...,0,0,6,0,7,1,0,1,0,5
16,폭력범죄,손괴,332,286,415,211,375,317,428,268,...,0,0,0,0,0,1,0,0,0,2
17,지능범죄,직무유기,28,18,7,5,14,13,4,2,...,0,0,0,0,0,0,0,0,0,0
18,지능범죄,직권남용,27,22,13,17,24,13,6,0,...,0,0,0,0,0,0,0,0,0,0
19,지능범죄,증수뢰,6,0,2,3,2,3,1,0,...,0,0,0,0,0,0,0,0,0,1
20,지능범죄,통화,9,59,11,7,3,8,2,4,...,0,0,0,0,0,1,0,0,0,3
21,지능범죄,문서 인장,63,62,43,53,61,70,60,61,...,0,0,23,0,0,3,0,1,0,3
22,지능범죄,유가증권인지,0,2,0,0,1,3,0,1,...,0,0,0,0,0,0,0,0,0,1
23,지능범죄,사기,2032,2094,1643,1829,2075,2074,2003,2209,...,6,1,117,41,91,94,32,28,14,172
24,지능범죄,횡령,815,794,492,539,750,891,475,415,...,0,1,8,2,6,9,5,2,4,16
25,지능범죄,배임,31,31,21,30,22,28,6,13,...,0,0,2,0,0,2,0,0,0,3
26,풍속범죄,성풍속범죄,123,108,127,131,173,140,122,173,...,0,0,5,7,6,2,2,1,0,16
27,풍속범죄,도박범죄,19,21,10,21,31,19,36,20,...,0,0,5,1,13,14,0,1,0,3
28,특별경제범죄,특별경제범죄,523,727,431,320,473,469,407,344,...,1,1,9,1,14,7,4,0,1,19
29,마약범죄,마약범죄,100,73,200,95,100,102,86,78,...,0,0,2,2,4,15,14,0,0,9
30,보건범죄,보건범죄,119,108,102,29,53,94,56,49,...,0,0,2,0,0,1,1,0,0,1
31,환경범죄,환경범죄,1,0,1,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
32,교통범죄,교통범죄,657,652,1076,935,850,1478,1169,895,...,0,0,0,0,0,0,2,0,0,1
33,노동범죄,노동범죄,4,3,4,3,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
34,안보범죄,안보범죄,11,4,3,1,0,0,1,2,...,0,0,15,2,3,1,0,0,0,0
35,선거범죄,선거범죄,2,3,0,2,5,0,3,0,...,0,0,0,0,0,0,0,0,0,0
36,병역범죄,병역범죄,22,18,30,39,65,53,57,42,...,0,1,5,4,1,1,0,1,0,7
37,기타범죄,기타범죄,1650,1612,1817,1283,1556,1454,1715,1409,...,1,0,32,13,14,30,7,3,1,54

In [11]:
cols = [col for col in crime.columns if ("서울" in col) or (col=='범죄대분류') or (col=='범죄중분류')]
crime2 = crime[cols]
# crime2['범죄분류']=crime2['범죄대분류'] +'_'+ crime2['범죄중분류']
# c3 = crime2.drop(['범죄대분류','범죄중분류'],axis=1)
c4=crime2[['범죄중분류','서울종로구', '서울중구', '서울용산구', '서울성동구', '서울광진구', '서울동대문구', '서울중랑구', '서울성북구',
       '서울강북구', '서울도봉구', '서울노원구', '서울은평구', '서울서대문구', '서울마포구', '서울양천구', '서울강서구',
       '서울구로구', '서울금천구', '서울영등포구', '서울동작구', '서울관악구', '서울서초구', '서울강남구', '서울송파구',
       '서울강동구']]
c4

,범죄중분류,서울종로구,서울중구,서울용산구,서울성동구,서울광진구,서울동대문구,서울중랑구,서울성북구,서울강북구,...,서울강서구,서울구로구,서울금천구,서울영등포구,서울동작구,서울관악구,서울서초구,서울강남구,서울송파구,서울강동구
0,살인기수,2,0,1,1,0,2,4,1,2,...,0,0,1,6,0,3,1,2,2,1
1,살인미수등,1,3,2,1,2,3,2,0,5,...,1,12,3,6,3,14,6,12,6,3
2,강도,5,6,3,2,5,4,2,1,1,...,6,7,5,9,3,10,9,19,9,5
3,강간,25,30,45,22,42,36,40,25,21,...,77,34,25,51,18,78,55,181,64,34
4,유사강간,10,4,4,6,9,5,9,7,9,...,12,7,5,12,2,20,9,38,7,6
5,강제추행,204,182,195,92,188,107,118,105,108,...,203,150,93,245,176,220,340,464,233,99
6,기타 강간 강제추행등,0,0,0,0,0,1,0,2,1,...,2,0,2,0,0,3,2,2,1,0
7,방화,4,13,16,4,5,11,4,7,4,...,14,11,6,9,9,13,10,12,11,7
8,절도범죄,1173,1523,971,891,1619,1278,1400,982,917,...,1790,1627,980,1856,1191,2005,1941,2480,2419,1676
9,상해,127,127,107,79,111,101,121,74,107,...,125,121,80,172,100,135,106,262,125,102
10,폭행,905,1001,1018,548,842,839,913,731,817,...,1278,1092,606,1247,683,1341,1249,2065,1431,893
11,체포감금,6,8,7,4,4,11,5,5,4,...,12,5,10,9,8,10,16,26,6,9
12,협박,116,131,140,114,137,170,200,131,134,...,256,213,155,218,130,237,220,366,269,149
13,약취 유인,2,4,0,3,1,4,4,0,3,...,4,4,2,2,2,4,6,5,4,0
14,폭력행위등,32,40,35,12,44,29,36,30,55,...,68,48,32,71,17,74,52,83,45,34
15,공갈,37,24,50,34,45,53,39,43,62,...,63,47,21,33,55,49,88,107,104,33
16,손괴,332,286,415,211,375,317,428,268,252,...,372,373,210,475,275,540,419,651,494,348
17,직무유기,28,18,7,5,14,13,4,2,5,...,10,8,14,17,3,11,29,25,33,13
18,직권남용,27,22,13,17,24,13,6,0,10,...,10,16,6,21,11,24,38,41,21,12
19,증수뢰,6,0,2,3,2,3,1,0,1,...,1,1,1,3,1,0,8,3,2,1
20,통화,9,59,11,7,3,8,2,4,0,...,6,3,4,6,3,3,4,11,15,2
21,문서 인장,63,62,43,53,61,70,60,61,71,...,121,95,46,145,66,92,204,238,186,86
22,유가증권인지,0,2,0,0,1,3,0,1,0,...,0,0,0,4,1,0,2,1,0,1
23,사기,2032,2094,1643,1829,2075,2074,2003,2209,1739,...,2886,2087,1846,3021,1712,4204,4066,8077,3757,2129
24,횡령,815,794,492,539,750,891,475,415,295,...,703,691,432,1039,581,855,1006,1792,1176,454
25,배임,31,31,21,30,22,28,6,13,14,...,38,21,26,44,20,21,81,179,50,18
26,성풍속범죄,123,108,127,131,173,140,122,173,122,...,262,137,85,195,159,315,223,414,252,155
27,도박범죄,19,21,10,21,31,19,36,20,24,...,52,33,18,41,10,41,19,74,29,31
28,특별경제범죄,523,727,431,320,473,469,407,344,342,...,491,565,535,655,244,647,684,1663,684,626
29,마약범죄,100,73,200,95,100,102,86,78,93,...,135,155,61,151,64,175,252,972,160,76
30,보건범죄,119,108,102,29,53,94,56,49,58,...,113,63,48,113,59,83,257,689,200,52
31,환경범죄,1,0,1,1,0,1,1,0,1,...,6,0,1,4,0,4,4,6,3,1
32,교통범죄,657,652,1076,935,850,1478,1169,895,926,...,1290,1056,801,1626,1523,1152,2093,2989,2193,1045
33,노동범죄,4,3,4,3,1,1,1,1,2,...,2,2,2,2,4,0,7,18,4,0
34,안보범죄,11,4,3,1,0,0,1,2,2,...,2,1,1,3,1,2,4,4,30,2
35,선거범죄,2,3,0,2,5,0,3,0,1,...,12,0,0,12,1,1,3,3,2,2
36,병역범죄,22,18,30,39,65,53,57,42,53,...,75,42,48,67,41,185,90,124,81,63
37,기타범죄,1650,1612,1817,1283,1556,1454,1715,1409,1787,...,2456,1683,1236,2315,1692,2808,3338,5016,3082,1617

In [12]:
c5 = pd.melt(c4,id_vars=['범죄중분류'],var_name='지역',value_name='발생건수')
c5

     범죄중분류     지역  발생건수
0     살인기수  서울종로구     2
1    살인미수등  서울종로구     1
2       강도  서울종로구     5
3       강간  서울종로구    25
4     유사강간  서울종로구    10
..     ...    ...   ...
945   노동범죄  서울강동구     0
946   안보범죄  서울강동구     2
947   선거범죄  서울강동구     2
948   병역범죄  서울강동구    63
949   기타범죄  서울강동구  1617

[950 rows x 3 columns]

In [13]:
# 피벗 cols='범죄분류',row='지역',value='발생건수'

c6=pd.pivot_table(c5, index='지역',columns='범죄중분류',values='발생건수')
c7=c6.reset_index(drop=False)
c7['지역']=c7['지역'].str.replace('서울','')
c7

범죄중분류,지역,강간,강도,강제추행,공갈,교통범죄,기타 강간 강제추행등,기타범죄,노동범죄,도박범죄,...,직권남용,직무유기,체포감금,통화,특별경제범죄,폭력행위등,폭행,협박,환경범죄,횡령
0,강남구,181.0,19.0,464.0,107.0,2989.0,2.0,5016.0,18.0,74.0,...,41.0,25.0,26.0,11.0,1663.0,83.0,2065.0,366.0,6.0,1792.0
1,강동구,34.0,5.0,99.0,33.0,1045.0,0.0,1617.0,0.0,31.0,...,12.0,13.0,9.0,2.0,626.0,34.0,893.0,149.0,1.0,454.0
2,강북구,21.0,1.0,108.0,62.0,926.0,1.0,1787.0,2.0,24.0,...,10.0,5.0,4.0,0.0,342.0,55.0,817.0,134.0,1.0,295.0
3,강서구,77.0,6.0,203.0,63.0,1290.0,2.0,2456.0,2.0,52.0,...,10.0,10.0,12.0,6.0,491.0,68.0,1278.0,256.0,6.0,703.0
4,관악구,78.0,10.0,220.0,49.0,1152.0,3.0,2808.0,0.0,41.0,...,24.0,11.0,10.0,3.0,647.0,74.0,1341.0,237.0,4.0,855.0
5,광진구,42.0,5.0,188.0,45.0,850.0,0.0,1556.0,1.0,31.0,...,24.0,14.0,4.0,3.0,473.0,44.0,842.0,137.0,0.0,750.0
6,구로구,34.0,7.0,150.0,47.0,1056.0,0.0,1683.0,2.0,33.0,...,16.0,8.0,5.0,3.0,565.0,48.0,1092.0,213.0,0.0,691.0
7,금천구,25.0,5.0,93.0,21.0,801.0,2.0,1236.0,2.0,18.0,...,6.0,14.0,10.0,4.0,535.0,32.0,606.0,155.0,1.0,432.0
8,노원구,41.0,3.0,110.0,35.0,1044.0,1.0,1862.0,3.0,25.0,...,8.0,5.0,5.0,4.0,460.0,28.0,1076.0,198.0,0.0,617.0
9,도봉구,10.0,4.0,74.0,29.0,468.0,0.0,993.0,0.0,12.0,...,5.0,5.0,4.0,2.0,235.0,19.0,467.0,74.0,4.0,299.0
10,동대문구,36.0,4.0,107.0,53.0,1478.0,1.0,1454.0,1.0,19.0,...,13.0,13.0,11.0,8.0,469.0,29.0,839.0,170.0,1.0,891.0
11,동작구,18.0,3.0,176.0,55.0,1523.0,0.0,1692.0,4.0,10.0,...,11.0,3.0,8.0,3.0,244.0,17.0,683.0,130.0,0.0,581.0
12,마포구,88.0,4.0,354.0,46.0,1565.0,1.0,2380.0,1.0,25.0,...,21.0,16.0,10.0,11.0,530.0,52.0,1157.0,163.0,1.0,1104.0
13,서대문구,46.0,0.0,97.0,68.0,692.0,1.0,1115.0,3.0,14.0,...,9.0,6.0,1.0,4.0,297.0,32.0,495.0,114.0,3.0,486.0
14,서초구,55.0,9.0,340.0,88.0,2093.0,2.0,3338.0,7.0,19.0,...,38.0,29.0,16.0,4.0,684.0,52.0,1249.0,220.0,4.0,1006.0
15,성동구,22.0,2.0,92.0,34.0,935.0,0.0,1283.0,3.0,21.0,...,17.0,5.0,4.0,7.0,320.0,12.0,548.0,114.0,1.0,539.0
16,성북구,25.0,1.0,105.0,43.0,895.0,2.0,1409.0,1.0,20.0,...,0.0,2.0,5.0,4.0,344.0,30.0,731.0,131.0,0.0,415.0
17,송파구,64.0,9.0,233.0,104.0,2193.0,1.0,3082.0,4.0,29.0,...,21.0,33.0,6.0,15.0,684.0,45.0,1431.0,269.0,3.0,1176.0
18,양천구,32.0,2.0,74.0,23.0,858.0,0.0,1727.0,0.0,16.0,...,10.0,21.0,10.0,7.0,375.0,39.0,790.0,173.0,3.0,424.0
19,영등포구,51.0,9.0,245.0,33.0,1626.0,0.0,2315.0,2.0,41.0,...,21.0,17.0,9.0,6.0,655.0,71.0,1247.0,218.0,4.0,1039.0
20,용산구,45.0,3.0,195.0,50.0,1076.0,0.0,1817.0,4.0,10.0,...,13.0,7.0,7.0,11.0,431.0,35.0,1018.0,140.0,1.0,492.0
21,은평구,30.0,3.0,112.0,34.0,1003.0,1.0,1555.0,0.0,23.0,...,17.0,5.0,5.0,4.0,454.0,37.0,920.0,170.0,0.0,445.0
22,종로구,25.0,5.0,204.0,37.0,657.0,0.0,1650.0,4.0,19.0,...,27.0,28.0,6.0,9.0,523.0,32.0,905.0,116.0,1.0,815.0
23,중구,30.0,6.0,182.0,24.0,652.0,0.0,1612.0,3.0,21.0,...,22.0,18.0,8.0,59.0,727.0,40.0,1001.0,131.0,0.0,794.0
24,중랑구,40.0,2.0,118.0,39.0,1169.0,0.0,1715.0,1.0,36.0,...,6.0,4.0,5.0,2.0,407.0,36.0,913.0,200.0,1.0,475.0

In [14]:
c8=c7[['지역','강간','강제추행','기타 강간 강제추행등','살인미수등','살인기수','성풍속범죄','유사강간']]
c8.index.name=None
c8

범죄중분류    지역     강간   강제추행  기타 강간 강제추행등  살인미수등  살인기수  성풍속범죄  유사강간
0       강남구  181.0  464.0          2.0   12.0   2.0  414.0  38.0
1       강동구   34.0   99.0          0.0    3.0   1.0  155.0   6.0
2       강북구   21.0  108.0          1.0    5.0   2.0  122.0   9.0
3       강서구   77.0  203.0          2.0    1.0   0.0  262.0  12.0
4       관악구   78.0  220.0          3.0   14.0   3.0  315.0  20.0
5       광진구   42.0  188.0          0.0    2.0   0.0  173.0   9.0
6       구로구   34.0  150.0          0.0   12.0   0.0  137.0   7.0
7       금천구   25.0   93.0          2.0    3.0   1.0   85.0   5.0
8       노원구   41.0  110.0          1.0    4.0   3.0  205.0   2.0
9       도봉구   10.0   74.0          0.0    5.0   2.0   95.0   4.0
10     동대문구   36.0  107.0          1.0    3.0   2.0  140.0   5.0
11      동작구   18.0  176.0          0.0    3.0   0.0  159.0   2.0
12      마포구   88.0  354.0          1.0    1.0   2.0  290.0  12.0
13     서대문구   46.0   97.0          1.0    5.0   0.0  110.0  12.0
14      서초구   55.0  340.0          2.0    6.0   1.0  223.0   9.0
15      성동구   22.0   92.0          0.0    1.0   1.0  131.0   6.0
16      성북구   25.0  105.0          2.0    0.0   1.0  173.0   7.0
17      송파구   64.0  233.0          1.0    6.0   2.0  252.0   7.0
18      양천구   32.0   74.0          0.0    2.0   3.0  131.0   5.0
19     영등포구   51.0  245.0          0.0    6.0   6.0  195.0  12.0
20      용산구   45.0  195.0          0.0    2.0   1.0  127.0   4.0
21      은평구   30.0  112.0          1.0    5.0   2.0  159.0   7.0
22      종로구   25.0  204.0          0.0    1.0   2.0  123.0  10.0
23       중구   30.0  182.0          0.0    3.0   0.0  108.0   4.0
24      중랑구   40.0  118.0          0.0    2.0   4.0  122.0   9.0

In [15]:
c9 = c8.rename(columns={'지역':'시군구명'})
c9

범죄중분류  시군구명     강간   강제추행  기타 강간 강제추행등  살인미수등  살인기수  성풍속범죄  유사강간
0       강남구  181.0  464.0          2.0   12.0   2.0  414.0  38.0
1       강동구   34.0   99.0          0.0    3.0   1.0  155.0   6.0
2       강북구   21.0  108.0          1.0    5.0   2.0  122.0   9.0
3       강서구   77.0  203.0          2.0    1.0   0.0  262.0  12.0
4       관악구   78.0  220.0          3.0   14.0   3.0  315.0  20.0
5       광진구   42.0  188.0          0.0    2.0   0.0  173.0   9.0
6       구로구   34.0  150.0          0.0   12.0   0.0  137.0   7.0
7       금천구   25.0   93.0          2.0    3.0   1.0   85.0   5.0
8       노원구   41.0  110.0          1.0    4.0   3.0  205.0   2.0
9       도봉구   10.0   74.0          0.0    5.0   2.0   95.0   4.0
10     동대문구   36.0  107.0          1.0    3.0   2.0  140.0   5.0
11      동작구   18.0  176.0          0.0    3.0   0.0  159.0   2.0
12      마포구   88.0  354.0          1.0    1.0   2.0  290.0  12.0
13     서대문구   46.0   97.0          1.0    5.0   0.0  110.0  12.0
14      서초구   55.0  340.0          2.0    6.0   1.0  223.0   9.0
15      성동구   22.0   92.0          0.0    1.0   1.0  131.0   6.0
16      성북구   25.0  105.0          2.0    0.0   1.0  173.0   7.0
17      송파구   64.0  233.0          1.0    6.0   2.0  252.0   7.0
18      양천구   32.0   74.0          0.0    2.0   3.0  131.0   5.0
19     영등포구   51.0  245.0          0.0    6.0   6.0  195.0  12.0
20      용산구   45.0  195.0          0.0    2.0   1.0  127.0   4.0
21      은평구   30.0  112.0          1.0    5.0   2.0  159.0   7.0
22      종로구   25.0  204.0          0.0    1.0   2.0  123.0  10.0
23       중구   30.0  182.0          0.0    3.0   0.0  108.0   4.0
24      중랑구   40.0  118.0          0.0    2.0   4.0  122.0   9.0

In [16]:
merge2 = pd.merge(c9,d4,on='시군구명',how='inner')
merge3=merge2[['시군구명','동리명', '법정동코드', '강간', '강제추행', '기타 강간 강제추행등', '살인미수등', '살인기수', '성풍속범죄', '유사강간']]
merge3

,시군구명,동리명,법정동코드,강간,강제추행,기타 강간 강제추행등,살인미수등,살인기수,성풍속범죄,유사강간
0,강남구,강남구,1168000000,181.0,464.0,2.0,12.0,2.0,414.0,38.0
1,강남구,신사동,1168010700,181.0,464.0,2.0,12.0,2.0,414.0,38.0
2,강남구,압구정동,1168011000,181.0,464.0,2.0,12.0,2.0,414.0,38.0
3,강남구,논현동,1168010800,181.0,464.0,2.0,12.0,2.0,414.0,38.0
4,강남구,청담동,1168010400,181.0,464.0,2.0,12.0,2.0,414.0,38.0
...,...,...,...,...,...,...,...,...,...,...
486,중랑구,상봉동,1126010200,40.0,118.0,0.0,2.0,4.0,122.0,9.0
487,중랑구,중화동,1126010300,40.0,118.0,0.0,2.0,4.0,122.0,9.0
488,중랑구,묵동,1126010400,40.0,118.0,0.0,2.0,4.0,122.0,9.0
489,중랑구,망우동,1126010500,40.0,118.0,0.0,2.0,4.0,122.0,9.0
490,중랑구,신내동,1126010600,40.0,118.0,0.0,2.0,4.0,122.0,9.0

## 2. 유흥

In [17]:
# 유흥주점
df = pd.read_csv("범죄\서울시 유흥주점영업 인허가 정보.csv",encoding='cp949')
df

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,공장판매직종업원수,공장생산직종업원수,건물소유구분명,보증액,월세액,다중이용업소여부,시설총규모,전통업소지정번호,전통업소주된음식,홈페이지
0,3220000,3220000-102-2000-21430,2000-03-18,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3090000,3090000-102-2007-00004,2007-12-20,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3220000,3220000-102-2001-23481,2001-05-12,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3230000,3230000-102-2014-00005,2014-11-28,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3150000,3150000-102-2015-00003,2015-10-22,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4960,3240000,3240000-102-1988-05587,1988-10-29,NaN,3,폐업,2,폐업,1997-04-22,NaN,...,NaN,NaN,NaN,NaN,NaN,N,517.09,NaN,NaN,NaN
4961,3240000,3240000-102-1980-05530,1980-05-12,NaN,3,폐업,2,폐업,2016-10-27,NaN,...,NaN,NaN,NaN,NaN,NaN,N,234.90,NaN,NaN,NaN
4962,3240000,3240000-102-1980-05540,1980-08-29,NaN,3,폐업,2,폐업,2000-06-28,NaN,...,NaN,NaN,NaN,NaN,NaN,N,108.77,NaN,NaN,NaN
4963,3240000,3240000-102-2002-13548,2002-08-16,NaN,3,폐업,2,폐업,2008-05-19,NaN,...,NaN,NaN,NaN,NaN,NaN,N,122.90,NaN,NaN,NaN
4964,3240000,3240000-102-2002-13549,2002-09-04,NaN,3,폐업,2,폐업,2003-07-31,NaN,...,NaN,NaN,NaN,NaN,NaN,N,141.24,NaN,NaN,NaN

In [18]:
df2=df.loc[(df['영업상태명']!='폐업'),['지번주소','사업장명','최종수정일자','데이터갱신일자','업태구분명','좌표정보(X)','좌표정보(Y)','영업장주변구분명']]
df2

,지번주소,사업장명,최종수정일자,데이터갱신일자,업태구분명,좌표정보(X),좌표정보(Y),영업장주변구분명
0,서울특별시 강남구 역삼동 688-6 지하1층,오스카,2025-03-04 12:55:50,2024-12-03 00:06:00.0,룸살롱,203516.591236,444995.018910,NaN
1,서울특별시 도봉구 창동 13,부킹,2025-03-17 15:38:52,2024-12-02 23:09:00.0,룸살롱,204317.264907,461224.014057,NaN
2,서울특별시 강남구 대치동 890-38 지하1층,사라있네,2025-03-07 18:30:19,2024-12-03 00:09:00.0,룸살롱,204647.421250,444687.506114,NaN
3,서울특별시 송파구 가락동 99-1 지하1층,루키,2025-03-10 09:30:18,2024-12-02 23:02:00.0,룸살롱,210491.688890,443508.221246,NaN
4,서울특별시 강서구 화곡동 903-10 2층,승리노래바,2025-03-11 08:58:11,2024-12-02 23:04:00.0,룸살롱,186437.390022,447472.670707,NaN
...,...,...,...,...,...,...,...,...
4777,서울특별시 강동구 길동 459-2번지 중부빌딩 3층 301호,준코뮤직타운,2019-12-23 10:31:36,2019-12-25 02:40:00.0,간이주점,212111.336831,448059.842031,유흥업소밀집지역
4778,서울특별시 강동구 길동 387-7,몰디브,2024-10-25 15:48:33,2024-10-27 02:40:00.0,룸살롱,212139.681877,448366.810705,NaN
4836,서울특별시 강동구 길동 449-1 (2층),수,2020-12-07 21:32:51,2020-12-09 02:40:00.0,룸살롱,212022.198149,448182.326670,학교정화(상대)
4837,서울특별시 강동구 천호동 550-7,제니아노래광장,2020-12-17 11:14:32,2020-12-19 02:40:00.0,비어(바)살롱,211266.478732,448675.520340,NaN
4838,서울특별시 강동구 길동 450번지 3층,첼로,2019-04-24 16:24:03,2019-04-26 02:40:00.0,룸살롱,212011.067809,448166.552514,학교정화(상대)

In [19]:
df2['지번주소']=df2['지번주소'].str.strip('서울특별시')
df2[['시군구명', '동리명']] = df2['지번주소'].str.extract(r'(\S+구)\s+(\S+동)')
df2

,지번주소,사업장명,최종수정일자,데이터갱신일자,업태구분명,좌표정보(X),좌표정보(Y),영업장주변구분명,시군구명,동리명
0,강남구 역삼동 688-6 지하1층,오스카,2025-03-04 12:55:50,2024-12-03 00:06:00.0,룸살롱,203516.591236,444995.018910,NaN,강남구,역삼동
1,도봉구 창동 13,부킹,2025-03-17 15:38:52,2024-12-02 23:09:00.0,룸살롱,204317.264907,461224.014057,NaN,도봉구,창동
2,강남구 대치동 890-38 지하1층,사라있네,2025-03-07 18:30:19,2024-12-03 00:09:00.0,룸살롱,204647.421250,444687.506114,NaN,강남구,대치동
3,송파구 가락동 99-1 지하1층,루키,2025-03-10 09:30:18,2024-12-02 23:02:00.0,룸살롱,210491.688890,443508.221246,NaN,송파구,가락동
4,강서구 화곡동 903-10 2층,승리노래바,2025-03-11 08:58:11,2024-12-02 23:04:00.0,룸살롱,186437.390022,447472.670707,NaN,강서구,화곡동
...,...,...,...,...,...,...,...,...,...,...
4777,강동구 길동 459-2번지 중부빌딩 3층 301호,준코뮤직타운,2019-12-23 10:31:36,2019-12-25 02:40:00.0,간이주점,212111.336831,448059.842031,유흥업소밀집지역,강동구,길동
4778,강동구 길동 387-7,몰디브,2024-10-25 15:48:33,2024-10-27 02:40:00.0,룸살롱,212139.681877,448366.810705,NaN,강동구,길동
4836,강동구 길동 449-1 (2층),수,2020-12-07 21:32:51,2020-12-09 02:40:00.0,룸살롱,212022.198149,448182.326670,학교정화(상대),강동구,길동
4837,강동구 천호동 550-7,제니아노래광장,2020-12-17 11:14:32,2020-12-19 02:40:00.0,비어(바)살롱,211266.478732,448675.520340,NaN,강동구,천호동
4838,강동구 길동 450번지 3층,첼로,2019-04-24 16:24:03,2019-04-26 02:40:00.0,룸살롱,212011.067809,448166.552514,학교정화(상대),강동구,길동

In [20]:
df3=df2.groupby(by=['시군구명','동리명','업태구분명'],as_index=False)['사업장명'].count()
df3

    시군구명  동리명         업태구분명  사업장명
0    강남구  논현동     고고(디스코)클럽     3
1    강남구  논현동  관광호텔나이트(디스코)     2
2    강남구  논현동           룸살롱    18
3    강남구  논현동       비어(바)살롱     3
4    강남구  논현동           카바레     1
..   ...  ...           ...   ...
365  중랑구   묵동           카바레     1
366  중랑구  상봉동     고고(디스코)클럽     1
367  중랑구  상봉동           룸살롱     8
368  중랑구  상봉동          스텐드바     1
369  중랑구  상봉동           카바레     1

[370 rows x 4 columns]

In [21]:
df4 = pd.pivot_table(df3,index='동리명',columns='업태구분명',values='사업장명')
df4.reset_index(drop=False,inplace=True)
df4

업태구분명,동리명,간이주점,고고(디스코)클럽,관광호텔나이트(디스코),관광호텔나이트(카바레),극장식당,기타,노래클럽,룸살롱,비어(바)살롱,스텐드바,요정,카바레
0,가락동,2.0,NaN,1.0,NaN,NaN,4.0,1.0,35.0,NaN,NaN,NaN,2.0
1,가산동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN
2,가양동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
3,갈월동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
4,갈현동,NaN,1.0,NaN,NaN,NaN,NaN,NaN,10.0,NaN,2.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,회현동,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN
146,효제동,NaN,NaN,NaN,NaN,NaN,3.0,NaN,11.0,NaN,NaN,2.0,NaN
147,휘경동,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,2.0,NaN,NaN
148,흑석동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
149,흥인동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN

In [22]:
df4['클럽']=df4[['고고(디스코)클럽', '관광호텔나이트(디스코)', '관광호텔나이트(카바레)', '노래클럽','카바레']].sum(axis=1)
df4['룸살롱']=df4[['룸살롱', '비어(바)살롱', '스텐드바', '요정',]].sum(axis=1)
df4['주점']=df4[['간이주점','극장식당','기타']].sum(axis=1)
df4

업태구분명,동리명,간이주점,고고(디스코)클럽,관광호텔나이트(디스코),관광호텔나이트(카바레),극장식당,기타,노래클럽,룸살롱,비어(바)살롱,스텐드바,요정,카바레,클럽,주점
0,가락동,2.0,NaN,1.0,NaN,NaN,4.0,1.0,35.0,NaN,NaN,NaN,2.0,4.0,6.0
1,가산동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN,0.0,0.0
2,가양동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,0.0,0.0
3,갈월동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,0.0,0.0
4,갈현동,NaN,1.0,NaN,NaN,NaN,NaN,NaN,12.0,NaN,2.0,NaN,NaN,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,회현동,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,0.0,1.0
146,효제동,NaN,NaN,NaN,NaN,NaN,3.0,NaN,13.0,NaN,NaN,2.0,NaN,0.0,3.0
147,휘경동,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,NaN,2.0,NaN,NaN,1.0,0.0
148,흑석동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,0.0,0.0
149,흥인동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,1.0,NaN,NaN,0.0,0.0

In [23]:
df5 = df4[['동리명','클럽','주점','룸살롱']]
df5.columns.name=None
df5

     동리명   클럽   주점   룸살롱
0    가락동  4.0  6.0  35.0
1    가산동  0.0  0.0  13.0
2    가양동  0.0  0.0   2.0
3    갈월동  0.0  0.0   1.0
4    갈현동  1.0  0.0  12.0
..   ...  ...  ...   ...
145  회현동  0.0  1.0   1.0
146  효제동  0.0  3.0  13.0
147  휘경동  1.0  0.0   2.0
148  흑석동  0.0  0.0   1.0
149  흥인동  0.0  0.0   2.0

[150 rows x 4 columns]

In [24]:
cols=['클럽','주점','룸살롱']
df5[cols]=df5[cols].astype('int')
df5

     동리명  클럽  주점  룸살롱
0    가락동   4   6   35
1    가산동   0   0   13
2    가양동   0   0    2
3    갈월동   0   0    1
4    갈현동   1   0   12
..   ...  ..  ..  ...
145  회현동   0   1    1
146  효제동   0   3   13
147  휘경동   1   0    2
148  흑석동   0   0    1
149  흥인동   0   0    2

[150 rows x 4 columns]

In [25]:
df5.isna().sum()

동리명    0
클럽     0
주점     0
룸살롱    0
dtype: int64

In [26]:
merge3

,시군구명,동리명,법정동코드,강간,강제추행,기타 강간 강제추행등,살인미수등,살인기수,성풍속범죄,유사강간
0,강남구,강남구,1168000000,181.0,464.0,2.0,12.0,2.0,414.0,38.0
1,강남구,신사동,1168010700,181.0,464.0,2.0,12.0,2.0,414.0,38.0
2,강남구,압구정동,1168011000,181.0,464.0,2.0,12.0,2.0,414.0,38.0
3,강남구,논현동,1168010800,181.0,464.0,2.0,12.0,2.0,414.0,38.0
4,강남구,청담동,1168010400,181.0,464.0,2.0,12.0,2.0,414.0,38.0
...,...,...,...,...,...,...,...,...,...,...
486,중랑구,상봉동,1126010200,40.0,118.0,0.0,2.0,4.0,122.0,9.0
487,중랑구,중화동,1126010300,40.0,118.0,0.0,2.0,4.0,122.0,9.0
488,중랑구,묵동,1126010400,40.0,118.0,0.0,2.0,4.0,122.0,9.0
489,중랑구,망우동,1126010500,40.0,118.0,0.0,2.0,4.0,122.0,9.0
490,중랑구,신내동,1126010600,40.0,118.0,0.0,2.0,4.0,122.0,9.0

In [27]:
d_idx = merge3.loc[merge3['동리명'].str.contains('구')].index
d_idx
merge4 = merge3.drop(d_idx,axis=0)
merge4.reset_index(drop=True,inplace=True)
merge4

    시군구명  동리명       법정동코드     강간   강제추행  기타 강간 강제추행등  살인미수등  살인기수  성풍속범죄  유사강간
0    강남구  신사동  1168010700  181.0  464.0          2.0   12.0   2.0  414.0  38.0
1    강남구  논현동  1168010800  181.0  464.0          2.0   12.0   2.0  414.0  38.0
2    강남구  청담동  1168010400  181.0  464.0          2.0   12.0   2.0  414.0  38.0
3    강남구  삼성동  1168010500  181.0  464.0          2.0   12.0   2.0  414.0  38.0
4    강남구  대치동  1168010600  181.0  464.0          2.0   12.0   2.0  414.0  38.0
..   ...  ...         ...    ...    ...          ...    ...   ...    ...   ...
456  중랑구  상봉동  1126010200   40.0  118.0          0.0    2.0   4.0  122.0   9.0
457  중랑구  중화동  1126010300   40.0  118.0          0.0    2.0   4.0  122.0   9.0
458  중랑구   묵동  1126010400   40.0  118.0          0.0    2.0   4.0  122.0   9.0
459  중랑구  망우동  1126010500   40.0  118.0          0.0    2.0   4.0  122.0   9.0
460  중랑구  신내동  1126010600   40.0  118.0          0.0    2.0   4.0  122.0   9.0

[461 rows x 10 columns]

In [28]:
cols=['강간', '강제추행', '기타 강간 강제추행등', '살인미수등', '살인기수',
       '성풍속범죄', '유사강간']
merge4[cols]=merge4[cols].astype('int')
merge4

    시군구명  동리명       법정동코드   강간  강제추행  기타 강간 강제추행등  살인미수등  살인기수  성풍속범죄  유사강간
0    강남구  신사동  1168010700  181   464            2     12     2    414    38
1    강남구  논현동  1168010800  181   464            2     12     2    414    38
2    강남구  청담동  1168010400  181   464            2     12     2    414    38
3    강남구  삼성동  1168010500  181   464            2     12     2    414    38
4    강남구  대치동  1168010600  181   464            2     12     2    414    38
..   ...  ...         ...  ...   ...          ...    ...   ...    ...   ...
456  중랑구  상봉동  1126010200   40   118            0      2     4    122     9
457  중랑구  중화동  1126010300   40   118            0      2     4    122     9
458  중랑구   묵동  1126010400   40   118            0      2     4    122     9
459  중랑구  망우동  1126010500   40   118            0      2     4    122     9
460  중랑구  신내동  1126010600   40   118            0      2     4    122     9

[461 rows x 10 columns]

In [29]:
merge5 = pd.merge(merge4,df5,on='동리명',how='left')
merge5

,시군구명,동리명,법정동코드,강간,강제추행,기타 강간 강제추행등,살인미수등,살인기수,성풍속범죄,유사강간,클럽,주점,룸살롱
0,강남구,신사동,1168010700,181,464,2,12,2,414,38,4.0,0.0,9.0
1,강남구,논현동,1168010800,181,464,2,12,2,414,38,6.0,0.0,21.0
2,강남구,청담동,1168010400,181,464,2,12,2,414,38,5.0,1.0,6.0
3,강남구,삼성동,1168010500,181,464,2,12,2,414,38,0.0,0.0,31.0
4,강남구,대치동,1168010600,181,464,2,12,2,414,38,0.0,0.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
456,중랑구,상봉동,1126010200,40,118,0,2,4,122,9,2.0,0.0,9.0
457,중랑구,중화동,1126010300,40,118,0,2,4,122,9,NaN,NaN,NaN
458,중랑구,묵동,1126010400,40,118,0,2,4,122,9,1.0,0.0,2.0
459,중랑구,망우동,1126010500,40,118,0,2,4,122,9,NaN,NaN,NaN
460,중랑구,신내동,1126010600,40,118,0,2,4,122,9,NaN,NaN,NaN

In [30]:
merge6 = merge5.fillna(0)
cols=['클럽','주점','룸살롱']
merge6[cols]=merge6[cols].astype('int')
merge6

,시군구명,동리명,법정동코드,강간,강제추행,기타 강간 강제추행등,살인미수등,살인기수,성풍속범죄,유사강간,클럽,주점,룸살롱
0,강남구,신사동,1168010700,181,464,2,12,2,414,38,4,0,9
1,강남구,논현동,1168010800,181,464,2,12,2,414,38,6,0,21
2,강남구,청담동,1168010400,181,464,2,12,2,414,38,5,1,6
3,강남구,삼성동,1168010500,181,464,2,12,2,414,38,0,0,31
4,강남구,대치동,1168010600,181,464,2,12,2,414,38,0,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
456,중랑구,상봉동,1126010200,40,118,0,2,4,122,9,2,0,9
457,중랑구,중화동,1126010300,40,118,0,2,4,122,9,0,0,0
458,중랑구,묵동,1126010400,40,118,0,2,4,122,9,1,0,2
459,중랑구,망우동,1126010500,40,118,0,2,4,122,9,0,0,0
460,중랑구,신내동,1126010600,40,118,0,2,4,122,9,0,0,0

## 3. 가로등 개수

In [31]:
# 가로등 개수
import geopandas as gpd
from shapely.geometry import Point

# 1. 법정동 경계 파일 불러오기
bjd = gpd.read_file("LSMD_ADM_SECT_UMD_11_202505.shp",encoding='cp949')

# 2. 좌표계 통일 (법정동 shp가 보통 EPSG:5179 또는 EPSG:4326)
bjd = bjd.to_crs(epsg=4326)
bjd.rename(columns={'EMD_CD':'읍면동코드','EMD_NM':'동리명','SGG_OID':'원천도형ID','COL_ADM_SE':'원천시군구코드'},inplace=True)
bjd

# 3. 가로등 데이터 불러오기
df = pd.read_csv('범죄/서울시 가로등 위치 정보 (2).csv',encoding='cp949')

# 4. GeoDataFrame으로 변환
gdf = gpd.GeoDataFrame(df, geometry=gpd.points_from_xy(df['경도'], df['위도']), crs="EPSG:4326")

# 5. 공간조인: 가로등 위치와 법정동 경계 매핑
merged = gpd.sjoin(gdf, bjd, how='left', predicate='intersects')
merged
# # 6. 법정동별 개수 세기
streetlamp = merged.groupby(by='동리명',as_index=False)['관리번호'].count()
streetlamp.columns=['동리명','가로등수']
streetlamp

     동리명  가로등수
0    가락동    60
1    가산동    35
2    가양동   398
3    강일동    20
4    개봉동    65
..   ...   ...
169  홍은동    90
170  홍제동   114
171  화곡동     7
172  휘경동   174
173  흑석동    76

[174 rows x 2 columns]

In [32]:
streetlamp.loc[streetlamp['동리명'].str.contains('논현')]

Empty DataFrame
Columns: [동리명, 가로등수]
Index: []

In [33]:
merge6['동리명'].value_counts()

동리명
신사동      2
신정동      2
팔판동      1
신문로2가    1
신문로1가    1
        ..
응봉동      1
행당동      1
사근동      1
마장동      1
신내동      1
Name: count, Length: 459, dtype: int64

In [34]:
merge7 = pd.merge(merge6,streetlamp,on='동리명',how='left')
merge7

,시군구명,동리명,법정동코드,강간,강제추행,기타 강간 강제추행등,살인미수등,살인기수,성풍속범죄,유사강간,클럽,주점,룸살롱,가로등수
0,강남구,신사동,1168010700,181,464,2,12,2,414,38,4,0,9,132.0
1,강남구,논현동,1168010800,181,464,2,12,2,414,38,6,0,21,NaN
2,강남구,청담동,1168010400,181,464,2,12,2,414,38,5,1,6,274.0
3,강남구,삼성동,1168010500,181,464,2,12,2,414,38,0,0,31,245.0
4,강남구,대치동,1168010600,181,464,2,12,2,414,38,0,0,6,106.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456,중랑구,상봉동,1126010200,40,118,0,2,4,122,9,2,0,9,24.0
457,중랑구,중화동,1126010300,40,118,0,2,4,122,9,0,0,0,98.0
458,중랑구,묵동,1126010400,40,118,0,2,4,122,9,1,0,2,124.0
459,중랑구,망우동,1126010500,40,118,0,2,4,122,9,0,0,0,4.0
460,중랑구,신내동,1126010600,40,118,0,2,4,122,9,0,0,0,236.0

## 4. 소방서

### - 각 동의 인구당 소방시설 개수 집계해서 대응 인프라 수준 파악하겠음

In [35]:
df= pd.read_excel('범죄/서울시 소방서,안전센터,구조대 위치정보.xlsx')
df

,연번,서ㆍ센터ID,서ㆍ센터명,유형구분명,도서지역포함여부,상위서ㆍ센터ID,일련번호,X좌표,Y좌표
0,1,1110108,쌍문119안전센터,안전센터/구조대,NaN,1110000,1,202367.981000,560953.287000
1,2,1125000,강북소방서,소방서,NaN,1100000,2,203372.134150,559271.253735
2,3,1125101,번동119안전센터,안전센터/구조대,NaN,1125000,3,203369.039207,559276.675604
3,4,1125201,구조대,안전센터/구조대,NaN,1125000,4,203375.742707,559265.794952
4,5,1113105,공덕119안전센터,안전센터/구조대,NaN,1113000,5,196444.779849,550061.600108
...,...,...,...,...,...,...,...,...,...
175,176,1126307,광나루수난구조대,안전센터/구조대,NaN,1126000,177,210400.250000,549496.700000
176,177,1127304,송정119안전센터,안전센터/구조대,NaN,1127000,178,205144.860142,549948.627007
177,178,1128000,금천소방서,소방서,NaN,1100000,179,190965.299864,540514.703858
178,179,1128401,금천119안전센터,안전센터/구조대,NaN,1128000,180,190966.930793,540529.997462
179,180,1128402,구조대,안전센터/구조대,NaN,1128000,181,190968.798818,540549.300388

In [36]:
# 2. GeoDataFrame으로 변환 (현재 좌표계는 EPSG:5179)
gdf = gpd.GeoDataFrame(df, 
                       geometry=gpd.points_from_xy(df['X좌표'], df['Y좌표']),
                       crs='EPSG:5186')

# 3. 좌표계를 EPSG:4326으로 변환 (법정동 shp와 맞추기 위해)
gdf = gdf.to_crs(epsg=4326)

# 4. 법정동 shp 파일 불러오기 및 좌표계 확인/변환
bjd = gpd.read_file("LSMD_ADM_SECT_UMD_11_202505.shp", encoding='cp949')
bjd = bjd.to_crs(epsg=4326)
bjd.rename(columns={'EMD_CD':'읍면동코드','EMD_NM':'동리명','SGG_OID':'원천도형ID','COL_ADM_SE':'원천시군구코드'},inplace=True)
bjd

# 5. 공간조인 (포인트가 동 경계 안에 있을 때)
merged = gpd.sjoin(gdf, bjd, how='left', predicate='within')
merged
# 6. 법정동별 개수 세기
# safer = merged.groupby(by='동리명',as_index=False)['유형구분명'].count()
# safer

,연번,서ㆍ센터ID,서ㆍ센터명,유형구분명,도서지역포함여부,상위서ㆍ센터ID,일련번호,X좌표,Y좌표,geometry,index_right,읍면동코드,원천시군구코드,동리명,원천도형ID
0,1,1110108,쌍문119안전센터,안전센터/구조대,NaN,1110000,1,202367.981000,560953.287000,POINT (127.02683 37.6482),280,11320105,11320,쌍문동,36
1,2,1125000,강북소방서,소방서,NaN,1100000,2,203372.134150,559271.253735,POINT (127.0382 37.63305),278,11305102,11305,번동,83
2,3,1125101,번동119안전센터,안전센터/구조대,NaN,1125000,3,203369.039207,559276.675604,POINT (127.03817 37.63309),278,11305102,11305,번동,83
3,4,1125201,구조대,안전센터/구조대,NaN,1125000,4,203375.742707,559265.794952,POINT (127.03824 37.633),278,11305102,11305,번동,83
4,5,1113105,공덕119안전센터,안전센터/구조대,NaN,1113000,5,196444.779849,550061.600108,POINT (126.95977 37.55007),327,11440102,11440,공덕동,5895
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,176,1126307,광나루수난구조대,안전센터/구조대,NaN,1126000,177,210400.250000,549496.700000,POINT (127.11769 37.54492),460,11740109,11740,천호동,353
176,177,1127304,송정119안전센터,안전센터/구조대,NaN,1127000,178,205144.860142,549948.627007,POINT (127.05822 37.54904),209,11200118,11200,송정동,3970
177,178,1128000,금천소방서,소방서,NaN,1100000,179,190965.299864,540514.703858,POINT (126.89788 37.46401),372,11545102,11545,독산동,35
178,179,1128401,금천119안전센터,안전센터/구조대,NaN,1128000,180,190966.930793,540529.997462,POINT (126.89789 37.46415),372,11545102,11545,독산동,35
179,180,1128402,구조대,안전센터/구조대,NaN,1128000,181,190968.798818,540549.300388,POINT (126.89792 37.46432),372,11545102,11545,독산동,35

In [37]:
merged

,연번,서ㆍ센터ID,서ㆍ센터명,유형구분명,도서지역포함여부,상위서ㆍ센터ID,일련번호,X좌표,Y좌표,geometry,index_right,읍면동코드,원천시군구코드,동리명,원천도형ID
0,1,1110108,쌍문119안전센터,안전센터/구조대,NaN,1110000,1,202367.981000,560953.287000,POINT (127.02683 37.6482),280,11320105,11320,쌍문동,36
1,2,1125000,강북소방서,소방서,NaN,1100000,2,203372.134150,559271.253735,POINT (127.0382 37.63305),278,11305102,11305,번동,83
2,3,1125101,번동119안전센터,안전센터/구조대,NaN,1125000,3,203369.039207,559276.675604,POINT (127.03817 37.63309),278,11305102,11305,번동,83
3,4,1125201,구조대,안전센터/구조대,NaN,1125000,4,203375.742707,559265.794952,POINT (127.03824 37.633),278,11305102,11305,번동,83
4,5,1113105,공덕119안전센터,안전센터/구조대,NaN,1113000,5,196444.779849,550061.600108,POINT (126.95977 37.55007),327,11440102,11440,공덕동,5895
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,176,1126307,광나루수난구조대,안전센터/구조대,NaN,1126000,177,210400.250000,549496.700000,POINT (127.11769 37.54492),460,11740109,11740,천호동,353
176,177,1127304,송정119안전센터,안전센터/구조대,NaN,1127000,178,205144.860142,549948.627007,POINT (127.05822 37.54904),209,11200118,11200,송정동,3970
177,178,1128000,금천소방서,소방서,NaN,1100000,179,190965.299864,540514.703858,POINT (126.89788 37.46401),372,11545102,11545,독산동,35
178,179,1128401,금천119안전센터,안전센터/구조대,NaN,1128000,180,190966.930793,540529.997462,POINT (126.89789 37.46415),372,11545102,11545,독산동,35
179,180,1128402,구조대,안전센터/구조대,NaN,1128000,181,190968.798818,540549.300388,POINT (126.89792 37.46432),372,11545102,11545,독산동,35