In [1]:
import pandas as pd
import numpy as np
import warnings
import matplotlib.pyplot as plt
import seaborn as sns

plt.rcParams['font.family'] ='Malgun Gothic' 
plt.rcParams['axes.unicode_minus'] =False

warnings.filterwarnings('ignore')

# 1. 교통

In [2]:
df1 = pd.read_csv('교통/2025년_버스노선별_정류장별_시간대별_승하차_인원_정보(02월).csv',encoding='cp949')
df2 = pd.read_csv('교통/서울교통공사_지하철혼잡도정보_20241231 (1).csv',encoding='cp949')
df3 = pd.read_csv('교통/서울시 지하철 호선별 역별 시간대별 승하차 인원 정보.csv',encoding='cp949')
df4 = pd.read_csv('교통/ES1004AV00101YY2400_csv.csv',encoding='utf8')
d_subway = pd.read_csv('교통/서울시 행정동별 지하철 총 승차 승객수 정보.csv',encoding='cp949')
gu_s_info = pd.read_csv('교통/서울교통공사_자치구별지하철역정보_20250317.CSV',encoding='cp949')

In [3]:
d_subway

,기준_날짜,행정동_ID,지하철_승객_수,지하철_승객_수_00시,지하철_승객_수_01시,지하철_승객_수_02시,지하철_승객_수_03시,지하철_승객_수_04시,지하철_승객_수_05시,지하철_승객_수_06시,...,지하철_승객_수_14시,지하철_승객_수_15시,지하철_승객_수_16시,지하철_승객_수_17시,지하철_승객_수_18시,지하철_승객_수_19시,지하철_승객_수_20시,지하철_승객_수_21시,지하철_승객_수_22시,지하철_승객_수_23시
0,20250402,11250770,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20250402,11250760,17015.0,13.0,0.0,0.0,0.0,2.0,402.0,1495.0,...,531.0,638.0,630.0,738.0,846.0,388.0,316.0,156.0,133.0,70.0
2,20250402,11250740,9883.0,17.0,0.0,0.0,0.0,0.0,203.0,440.0,...,433.0,502.0,570.0,693.0,733.0,396.0,257.0,263.0,183.0,86.0
3,20250402,11250730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20250402,11250720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505805,20211130,1105057,10728.0,1.0,0.0,0.0,0.0,0.0,182.0,467.0,...,432.0,394.0,562.0,662.0,762.0,422.0,281.0,300.0,150.0,30.0
505806,20211130,1101061,95603.0,4.0,0.0,0.0,0.0,18.0,279.0,355.0,...,4781.0,6015.0,7236.0,12936.0,19579.0,8734.0,6512.0,7032.0,5214.0,1713.0
505807,20211130,1114066,101870.0,11.0,0.0,0.0,0.0,20.0,934.0,2075.0,...,3973.0,4469.0,5575.0,8175.0,13185.0,8303.0,6423.0,7907.0,7051.0,2576.0
505808,20211130,1114060,21633.0,0.0,0.0,0.0,0.0,2.0,184.0,517.0,...,975.0,1161.0,1450.0,2178.0,2229.0,1194.0,954.0,939.0,777.0,222.0
505809,20211130,1113066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
d_subway.columns

Index(['기준_날짜', '행정동_ID', '지하철_승객_수', '지하철_승객_수_00시', '지하철_승객_수_01시',
       '지하철_승객_수_02시', '지하철_승객_수_03시', '지하철_승객_수_04시', '지하철_승객_수_05시',
       '지하철_승객_수_06시', '지하철_승객_수_07시', '지하철_승객_수_08시', '지하철_승객_수_09시',
       '지하철_승객_수_10시', '지하철_승객_수_11시', '지하철_승객_수_12시', '지하철_승객_수_13시',
       '지하철_승객_수_14시', '지하철_승객_수_15시', '지하철_승객_수_16시', '지하철_승객_수_17시',
       '지하철_승객_수_18시', '지하철_승객_수_19시', '지하철_승객_수_20시', '지하철_승객_수_21시',
       '지하철_승객_수_22시', '지하철_승객_수_23시'],
      dtype='object')

In [5]:
subway1 = d_subway.copy()
subway1['01_05'] = d_subway['지하철_승객_수_05시']+d_subway['지하철_승객_수_01시']+d_subway['지하철_승객_수_02시']+d_subway['지하철_승객_수_03시']+d_subway['지하철_승객_수_04시']
subway1['06_10'] = d_subway['지하철_승객_수_10시']+d_subway['지하철_승객_수_06시']+d_subway['지하철_승객_수_07시']+d_subway['지하철_승객_수_08시']+d_subway['지하철_승객_수_09시']
subway1['11_15'] = d_subway['지하철_승객_수_15시']+d_subway['지하철_승객_수_11시']+d_subway['지하철_승객_수_12시']+d_subway['지하철_승객_수_13시']+d_subway['지하철_승객_수_14시']+d_subway['지하철_승객_수_15시']
subway1['16_20'] = d_subway['지하철_승객_수_16시']+d_subway['지하철_승객_수_17시']+d_subway['지하철_승객_수_18시']+d_subway['지하철_승객_수_19시']+d_subway['지하철_승객_수_20시']
subway1['21_24'] = d_subway['지하철_승객_수_21시']+d_subway['지하철_승객_수_22시']+d_subway['지하철_승객_수_23시'] + d_subway['지하철_승객_수_00시']
subway1

,기준_날짜,행정동_ID,지하철_승객_수,지하철_승객_수_00시,지하철_승객_수_01시,지하철_승객_수_02시,지하철_승객_수_03시,지하철_승객_수_04시,지하철_승객_수_05시,지하철_승객_수_06시,...,지하철_승객_수_19시,지하철_승객_수_20시,지하철_승객_수_21시,지하철_승객_수_22시,지하철_승객_수_23시,01_05,06_10,11_15,16_20,21_24
0,20250402,11250770,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20250402,11250760,17015.0,13.0,0.0,0.0,0.0,2.0,402.0,1495.0,...,388.0,316.0,156.0,133.0,70.0,404.0,10198.0,3761.0,2918.0,372.0
2,20250402,11250740,9883.0,17.0,0.0,0.0,0.0,0.0,203.0,440.0,...,396.0,257.0,263.0,183.0,86.0,203.0,4063.0,2921.0,2649.0,549.0
3,20250402,11250730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20250402,11250720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505805,20211130,1105057,10728.0,1.0,0.0,0.0,0.0,0.0,182.0,467.0,...,422.0,281.0,300.0,150.0,30.0,182.0,5305.0,2465.0,2689.0,481.0
505806,20211130,1101061,95603.0,4.0,0.0,0.0,0.0,18.0,279.0,355.0,...,8734.0,6512.0,7032.0,5214.0,1713.0,297.0,5386.0,26975.0,54997.0,13963.0
505807,20211130,1114066,101870.0,11.0,0.0,0.0,0.0,20.0,934.0,2075.0,...,8303.0,6423.0,7907.0,7051.0,2576.0,954.0,23729.0,22450.0,41661.0,17545.0
505808,20211130,1114060,21633.0,0.0,0.0,0.0,0.0,2.0,184.0,517.0,...,1194.0,954.0,939.0,777.0,222.0,186.0,6640.0,6025.0,8005.0,1938.0
505809,20211130,1113066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
subway2 = subway1[['기준_날짜','행정동_ID','지하철_승객_수','01_05','06_10','11_15','16_20','21_24']]
subway2

,기준_날짜,행정동_ID,지하철_승객_수,01_05,06_10,11_15,16_20,21_24
0,20250402,11250770,NaN,NaN,NaN,NaN,NaN,NaN
1,20250402,11250760,17015.0,404.0,10198.0,3761.0,2918.0,372.0
2,20250402,11250740,9883.0,203.0,4063.0,2921.0,2649.0,549.0
3,20250402,11250730,NaN,NaN,NaN,NaN,NaN,NaN
4,20250402,11250720,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
505805,20211130,1105057,10728.0,182.0,5305.0,2465.0,2689.0,481.0
505806,20211130,1101061,95603.0,297.0,5386.0,26975.0,54997.0,13963.0
505807,20211130,1114066,101870.0,954.0,23729.0,22450.0,41661.0,17545.0
505808,20211130,1114060,21633.0,186.0,6640.0,6025.0,8005.0,1938.0
505809,20211130,1113066,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
subway2['행정동_ID'].value_counts()

행정동_ID
1121082     947
1120065     947
1119073     947
1119069     947
1119065     947
           ...
11090710    244
11090700    244
11090690    244
11090650    244
11010530    244
Name: count, Length: 849, dtype: int64

# 법정동코드

In [8]:
dong = pd.read_excel('KIKmix.20250513.xlsx')
dong1 = dong.loc[dong['시도명']=='서울특별시']
dong2 = dong1[2:].reset_index(drop=True)
dong3 = dong2[['시군구명','법정동코드']]
dong3

    시군구명       법정동코드
0    종로구  1111010100
1    종로구  1111010200
2    종로구  1111010300
3    종로구  1111010400
4    종로구  1111010500
..   ...         ...
764  강동구  1174010800
765  강동구  1174010800
766  강동구  1174010500
767  강동구  1174010600
768  강동구  1174010600

[769 rows x 2 columns]

In [9]:
d4 = dong3.drop_duplicates(subset='법정동코드')
d4

    시군구명       법정동코드
0    종로구  1111010100
1    종로구  1111010200
2    종로구  1111010300
3    종로구  1111010400
4    종로구  1111010500
..   ...         ...
757  강동구  1174010700
760  강동구  1174010900
763  강동구  1174010800
766  강동구  1174010500
767  강동구  1174010600

[491 rows x 2 columns]

# 2. 범죄

## 1. 범죄발생

In [10]:
crime = pd.read_csv('범죄\경찰청_범죄 발생 지역별 통계_20231231.csv',encoding='CP949')
crime
cols = [col for col in crime.columns if ("서울" in col) or (col=='범죄대분류') or (col=='범죄중분류')]
crime2 = crime[cols]
# crime2['범죄분류']=crime2['범죄대분류'] +'_'+ crime2['범죄중분류']
# c3 = crime2.drop(['범죄대분류','범죄중분류'],axis=1)
c4=crime2[['범죄중분류','서울종로구', '서울중구', '서울용산구', '서울성동구', '서울광진구', '서울동대문구', '서울중랑구', '서울성북구',
       '서울강북구', '서울도봉구', '서울노원구', '서울은평구', '서울서대문구', '서울마포구', '서울양천구', '서울강서구',
       '서울구로구', '서울금천구', '서울영등포구', '서울동작구', '서울관악구', '서울서초구', '서울강남구', '서울송파구',
       '서울강동구']]
c4
c5 = pd.melt(c4,id_vars=['범죄중분류'],var_name='지역',value_name='발생건수')
c5
# 피벗 cols='범죄분류',row='지역',value='발생건수'

c6=pd.pivot_table(c5, index='지역',columns='범죄중분류',values='발생건수')
c7=c6.reset_index(drop=False)
c7['지역']=c7['지역'].str.replace('서울','')
c7
c8=c7[['지역','강간','강제추행','기타 강간 강제추행등','살인미수등','살인기수','성풍속범죄','유사강간']]
c8.index.name=None
c8
crime = c8.rename(columns={'지역':'시군구명'})

cols = ['강간', '강제추행', '기타 강간 강제추행등', '살인미수등', '살인기수', '성풍속범죄', '유사강간']
crime[cols]=crime[cols].astype(int)
crime.columns.name=None

crime.tail(1)

   시군구명  강간  강제추행  기타 강간 강제추행등  살인미수등  살인기수  성풍속범죄  유사강간
24  중랑구  40   118            0      2     4    122     9

In [11]:
# merge2 = pd.merge(c9,d4,on='시군구명',how='inner')
# merge3=merge2[['시군구명','동리명', '법정동코드', '강간', '강제추행', '기타 강간 강제추행등', '살인미수등', '살인기수', '성풍속범죄', '유사강간']]
# merge3

# 안전

## 1. 유흥

In [63]:
# 유흥주점
df = pd.read_csv("범죄\서울시 유흥주점영업 인허가 정보.csv",encoding='cp949')
df
df2=df.loc[df['영업상태명']!='폐업',['지번주소','사업장명','최종수정일자','데이터갱신일자','업태구분명','좌표정보(X)','좌표정보(Y)','영업장주변구분명']]
df2
df2['지번주소']=df2['지번주소'].str.strip('서울특별시')
df2[['시군구명', '동리명']] = df2['지번주소'].str.extract(r'(\S+구)\s+(\S+동)')
df2
df3=df2.groupby(by=['시군구명','동리명','업태구분명'],as_index=False)['사업장명'].count()
df3
df4 = pd.pivot_table(df3, index='시군구명', columns='업태구분명', values='사업장명', aggfunc='sum')
df4.reset_index(drop=False, inplace=True)
df4

df4['클럽']=df4[['고고(디스코)클럽', '관광호텔나이트(디스코)', '관광호텔나이트(카바레)', '노래클럽','카바레']].sum(axis=1)
df4['룸살롱']=df4[['룸살롱', '비어(바)살롱', '스텐드바', '요정',]].sum(axis=1)
df4['주점']=df4[['간이주점','극장식당','기타']].sum(axis=1)
df4.tail()

df5 = df4[['시군구명','클럽','주점','룸살롱']]
df5.columns.name=None
cols=['클럽','주점','룸살롱']
df5[cols]=df5[cols].astype('int')
df5

    시군구명  클럽  주점  룸살롱
0    강남구  22   3  144
1    강동구   5   6   88
2    강북구   8  14   47
3    강서구  15   6  108
4    관악구  15  11  170
5    광진구   1   0    9
6    구로구   7   4   21
7    금천구   1   3   40
8    노원구   3   1   17
9    도봉구   5   3   12
10  동대문구   3   2   46
11   동작구   0   3   39
12   마포구   5  13   24
13  서대문구   3   3   22
14   서초구   5   5   28
15   성동구   2   0   18
16   성북구   2   0    6
17   송파구   9  10   69
18   양천구   0   0    4
19  영등포구   6  19  105
20   용산구   4   2    9
21   은평구   5  11   60
22   종로구  10   9  108
23    중구   8  33   79
24   중랑구   3   0   14

In [13]:
# d_idx = merge3.loc[merge3['동리명'].str.contains('구')].index
# d_idx
# merge4 = merge3.drop(d_idx,axis=0)
# merge4.reset_index(drop=True,inplace=True)
# merge4

In [14]:
# cols=['강간', '강제추행', '기타 강간 강제추행등', '살인미수등', '살인기수',
#        '성풍속범죄', '유사강간']
# merge4[cols]=merge4[cols].astype('int')
# merge4

In [15]:
# merge6 = merge5.fillna(0)
# cols=['클럽','주점','룸살롱']
# merge6[cols]=merge6[cols].astype('int')
# merge6

## 2. 가로등 개수

In [62]:
# 가로등 개수
import geopandas as gpd
from shapely.geometry import Point

# 1. 법정동 경계 파일 불러오기
gu = gpd.read_file("LARD_ADM_SECT_SGG_11_202505.shp",encoding='cp949')

# 2. 좌표계 통일 (법정동 shp가 보통 EPSG:5179 또는 EPSG:4326)
gu = gu.to_crs(epsg=4326)
gu['SGG_NM']=gu['SGG_NM'].str.strip('서울특별시 ')
gu2 = gu[['SGG_NM','geometry']]
gu2.columns=['시군구명','geometry']
gu2
# 3. 가로등 데이터 불러오기
df = pd.read_csv('범죄/서울시 가로등 위치 정보 (2).csv',encoding='cp949')
df
# 4. GeoDataFrame으로 변환
gdf = gpd.GeoDataFrame(df, geometry=gpd.points_from_xy(df['경도'], df['위도']), crs="EPSG:4326")

# 5. 공간조인: 가로등 위치와 법정동 경계 매핑
merged = gpd.sjoin(gdf, gu2, how='left', predicate='intersects')
merged
# # 6. 법정동별 개수 세기
streetlamp = merged.groupby(by='시군구명',as_index=False)['관리번호'].count()
streetlamp.columns=['시군구명','가로등수']
streetlamp.tail(1)

#merge
merge = pd.merge(streetlamp,df5,on='시군구명',how='outer')
merge

    시군구명    가로등수    클럽    주점    룸살롱
0    강남구  1785.0  22.0   3.0  144.0
1    강동구   861.0   5.0   6.0   88.0
2    강북구     NaN   8.0  14.0   47.0
3    강서구  1209.0  15.0   6.0  108.0
4    관악구    96.0  15.0  11.0  170.0
5    광진구  1313.0   1.0   0.0    9.0
6    구로구   314.0   7.0   4.0   21.0
7    금천구    35.0   1.0   3.0   40.0
8    노원구   645.0   3.0   1.0   17.0
9    대문구   381.0   NaN   NaN    NaN
10   도봉구    65.0   5.0   3.0   12.0
11  동대문구   490.0   3.0   2.0   46.0
12   동작구   657.0   0.0   3.0   39.0
13   마포구  1887.0   5.0  13.0   24.0
14  서대문구     NaN   3.0   3.0   22.0
15   서초구     NaN   5.0   5.0   28.0
16   성동구  1590.0   2.0   0.0   18.0
17   성북구   549.0   2.0   0.0    6.0
18   송파구  1656.0   9.0  10.0   69.0
19   양천구   150.0   0.0   0.0    4.0
20  영등포구  1890.0   6.0  19.0  105.0
21   용산구  1511.0   4.0   2.0    9.0
22   은평구     6.0   5.0  11.0   60.0
23   종로구    10.0  10.0   9.0  108.0
24    중구    43.0   8.0  33.0   79.0
25   중랑구   735.0   3.0   0.0   14.0
26    초구   979.0   NaN   NaN    NaN

## 3. 소방서

### - 각 동의 인구당 소방시설 개수 집계해서 대응 인프라 수준 파악하겠음

In [64]:
df= pd.read_excel('범죄/서울시 소방서,안전센터,구조대 위치정보.xlsx')
df
# 2. GeoDataFrame으로 변환 (현재 좌표계는 EPSG:5179)
gdf = gpd.GeoDataFrame(df, 
                       geometry=gpd.points_from_xy(df['X좌표'], df['Y좌표']),
                       crs='EPSG:5186')

# 3. 좌표계를 EPSG:4326으로 변환 (법정동 shp와 맞추기 위해)
gdf = gdf.to_crs(epsg=4326)
gdf
# 4. 법정동 shp 파일 불러오기 및 좌표계 확인/변환
gu = gpd.read_file("LARD_ADM_SECT_SGG_11_202505.shp",encoding='cp949')

# 2. 좌표계 통일 (법정동 shp가 보통 EPSG:5179 또는 EPSG:4326)
gu = gu.to_crs(epsg=4326)
gu['SGG_NM']=gu['SGG_NM'].str.strip('서울특별시 ')
gu2 = gu[['SGG_NM','geometry']]
gu2.columns=['시군구명','geometry']
gu2

# 5. 공간조인 (포인트가 동 경계 안에 있을 때)
merged = gpd.sjoin(gdf, gu2, how='left', predicate='within')
merged
# 6. 법정동별 개수 세기
safer = merged.groupby(by='시군구명',as_index=False)['유형구분명'].count()
safer.rename(columns={'유형구분명':'소방서수'},inplace=True)
safer

#merge
merge = pd.merge(safer,merge,on='시군구명',how='outer')
merge

    시군구명  소방서수    가로등수    클럽    주점    룸살롱
0    강남구   8.0  1785.0  22.0   3.0  144.0
1    강동구   9.0   861.0   5.0   6.0   88.0
2    강북구   6.0     NaN   8.0  14.0   47.0
3    강서구   9.0  1209.0  15.0   6.0  108.0
4    관악구   7.0    96.0  15.0  11.0  170.0
5    광진구   6.0  1313.0   1.0   0.0    9.0
6    구로구   8.0   314.0   7.0   4.0   21.0
7    금천구   4.0    35.0   1.0   3.0   40.0
8    노원구   7.0   645.0   3.0   1.0   17.0
9    대문구   6.0   381.0   NaN   NaN    NaN
10   도봉구   7.0    65.0   5.0   3.0   12.0
11  동대문구   7.0   490.0   3.0   2.0   46.0
12   동작구   7.0   657.0   0.0   3.0   39.0
13   마포구   8.0  1887.0   5.0  13.0   24.0
14  서대문구   NaN     NaN   3.0   3.0   22.0
15   서초구   NaN     NaN   5.0   5.0   28.0
16   성동구   7.0  1590.0   2.0   0.0   18.0
17   성북구   6.0   549.0   2.0   0.0    6.0
18   송파구   8.0  1656.0   9.0  10.0   69.0
19   양천구   7.0   150.0   0.0   0.0    4.0
20  영등포구   8.0  1890.0   6.0  19.0  105.0
21   용산구   7.0  1511.0   4.0   2.0    9.0
22   은평구   8.0     6.0   5.0  11.0   60.0
23   종로구   8.0    10.0  10.0   9.0  108.0
24    중구   8.0    43.0   8.0  33.0   79.0
25   중랑구   6.0   735.0   3.0   0.0   14.0
26    초구   8.0   979.0   NaN   NaN    NaN

In [19]:
bell = pd.read_excel('범죄\서울특별시_안전비상벨위치정보(2025.03.07.기준) (3).xlsx')
bell['설치위치'].value_counts()

설치위치
일원터널 내 보행로            1
연희지하보차도 내 보행로         1
대방지하보차도 내 보행로         1
잠수교남측지하보차도 내 보행로      1
방학지하차도 내 보행로          1
월계지하차도 내 보행로          1
창동지하차도 내 보행로          1
녹천지하차도 내 보행로          1
능산길 지하보차도 내 보행로       1
답십리굴다리지하보차도 내 보행로     1
군자교동측지하차도 내 보행로       1
신내지하보차도 내 보행로         1
마장지하보차도 내 보행로         1
구로역지하차도 내 보행로         1
가마산지하보차도 내 보행로        1
신도림지하보차도 내 보행로        1
목동교서측지하보차도 내 보행로      1
오목교서측지하보차도 내 보행로      1
서울교접속남단지하보차도 내 보행로    1
국회앞지하차도 내 보행로         1
아차산지하차도 내 보행로         1
서리풀터널 내 보행로           1
율곡터널 내 보행로            1
영등포지하보차도 내 보행로        1
증산지하보차도 내 보행로         1
매봉터널 내 보행로            1
잠수교북단지하보차도 내 보행로      1
금화터널 내 보행로            1
월드컵터널 내 보행로           1
호암2터널 내 보행로           1
상도터널 내 보행로            1
난곡터널 내 보행로            1
산복터널 내 보행로            1
호암1터널 내 보행로           1
북악터널 내 보행로            1
구기터널 내 보행로            1
자하문터널 내 보행로           1
공릉터널 내 보행로            1
솔샘터널 내 보행로            1
사직터널 내 보행로            1
금호터널 내 보행로            1
무지개터널 내 보행로           1
옥수터널 내 보행로            1
화곡터널 내 보행로            1
궁동터널 내 보행로            1
작동터널 내 보행로            1
천왕산생태터널 내 보행로         1
석촌지하보차도 내 보행로         1
개봉고가육교                1
Name: count, dtype: int64

### 4. cctv

#### 시군구명 매핑...

In [65]:
cctv = pd.read_excel('범죄\서울시 자치구 (목적별) CCTV 설치현황_241231 (2).xlsx')
cctv2 = cctv[1:]
cctv2.head()
cctv3 = cctv2.drop('Unnamed: 0',axis=1).reset_index(drop=True)
cctv3.loc[1,'Unnamed: 1']='시군구명'
cctv3.loc[1,'Unnamed: 2']='CCTV 총계'
cctv3.columns = cctv3.loc[1]
cctv4 = cctv3[['시군구명','CCTV 총계']][3:]
cctv4.columns.name=None

cctv5 = cctv4.reset_index(drop=True).dropna(axis=0)
cctv5.loc[cctv5['시군구명']=='동대문','시군구명']='동대문구'
cctv5
safe = pd.merge(cctv5,merge,on='시군구명',how='outer')
safe

    시군구명 CCTV 총계  소방서수    가로등수    클럽    주점    룸살롱
0    강남구    8352   8.0  1785.0  22.0   3.0  144.0
1    강동구    4238   9.0   861.0   5.0   6.0   88.0
2    강북구    3584   6.0     NaN   8.0  14.0   47.0
3    강서구    3874   9.0  1209.0  15.0   6.0  108.0
4    관악구    6614   7.0    96.0  15.0  11.0  170.0
5    광진구    4636   6.0  1313.0   1.0   0.0    9.0
6    구로구    5694   8.0   314.0   7.0   4.0   21.0
7    금천구    3458   4.0    35.0   1.0   3.0   40.0
8    노원구    4105   7.0   645.0   3.0   1.0   17.0
9    대문구     NaN   6.0   381.0   NaN   NaN    NaN
10   도봉구    2808   7.0    65.0   5.0   3.0   12.0
11  동대문구    3846   7.0   490.0   3.0   2.0   46.0
12   동작구    3664   7.0   657.0   0.0   3.0   39.0
13   마포구    3809   8.0  1887.0   5.0  13.0   24.0
14   서대문    4218   NaN     NaN   NaN   NaN    NaN
15  서대문구     NaN   NaN     NaN   3.0   3.0   22.0
16   서초구    6036   NaN     NaN   5.0   5.0   28.0
17   성동구    4638   7.0  1590.0   2.0   0.0   18.0
18   성북구    4906   6.0   549.0   2.0   0.0    6.0
19   송파구    4665   8.0  1656.0   9.0  10.0   69.0
20   양천구    4854   7.0   150.0   0.0   0.0    4.0
21   영등포    5133   NaN     NaN   NaN   NaN    NaN
22  영등포구     NaN   8.0  1890.0   6.0  19.0  105.0
23   용산구    3609   7.0  1511.0   4.0   2.0    9.0
24   은평구    5683   8.0     6.0   5.0  11.0   60.0
25   종로구    2339   8.0    10.0  10.0   9.0  108.0
26    중구    3118   8.0    43.0   8.0  33.0   79.0
27   중랑구    5392   6.0   735.0   3.0   0.0   14.0
28    초구     NaN   8.0   979.0   NaN   NaN    NaN

# 4. 소음

In [60]:
# 23년도 1,2,3,4분기 데이터
noise = pd.read_csv('소음\소음진동민원+현황_20250408223939.csv')
noise.replace('-',0,inplace=True)

noise23 = noise[['자치구별(2)','2023','2023.1']]
noise23.columns=noise23.loc[0].values
noise23=noise23[3:].reset_index(drop=True)

noise23.rename(columns={'자치구별(2)':'시군구명'},inplace=True)
noise23

    시군구명 환경관련 전체민원 소음진동 민원
0    종로구      2512    2200
1     중구      1678    1223
2    용산구      3614    3175
3    성동구      2691    2574
4    광진구      1516    1374
5   동대문구      3537    3437
6    중랑구      3303    3003
7    성북구      3056    2775
8    강북구      1398    1192
9    도봉구      1293    1153
10   노원구      1548    1016
11   은평구      2213    2012
12  서대문구      2191    1560
13   마포구      2553    2153
14   양천구      1133    1059
15   강서구      3411    3230
16   구로구      1853    1294
17   금천구      2263    1956
18  영등포구      5956    5104
19   동작구      1665    1448
20   관악구      2080    1865
21   서초구      5081    4386
22   강남구     13153    9236
23   송파구      3227    2421
24   강동구      3006    2606

array(['자치구별(2)', '환경관련 전체민원', '소음진동 민원'], dtype=object)